.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  h1{
    font-size: 2rem;
    padding-bottom: 4rem;
  }

  /* Remove the pointer */
  .leaflet-popup-tip-container {
    display: none;
    background-color: blanchedalmond;
    color: blue;
  }

  .popup{
    color: aqua;
  }
  
  
  
  
  

  
